body {
    margin: 0;
    padding: 0;
    width: 1024px;
    font-size: 14px;
    font-family: Helvetica, Georgia, sans-serif;
}

.banner h1 {
    left: 200px;
    top: 10px;
    font-size: 70px;
    color: #5D3FD3;
    font-family: Monotype Corsiva;
}

.new {
    background-color: #ddd;
    border: none;
    color: #333;
    width: 120px;
    height: 65px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    font-size: 45px; 
}

.counter {
    border: solid;
    border-color: #C8A2C8;
    border-radius: 25px;
    background-color: #C8A2C8;
    margin: 70px;    
    width: 450px;
}

.counter-name {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

.counter-display {
    padding: 10px 20px;
    text-align: center;
    border-radius: 16px;
    font-size: 10pc;

}

.button {
    background-color: #ddd;
    border: none;
    color: #333;
    width: 95px;
    height: 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 6px;
    cursor: pointer;
    border-radius: 16px;
    font-size: larger;
    font-weight: bold;
}
